# Binance Futures Testnet credentials
# Get these from: https://testnet.binancefuture.com → Account → API Management
BINANCE_API_KEY=HJRLDGB7SySYIWKcPeJ6k03U45H8Vo4X7fkXFHHjKdyYo4c1DB1VZrfe7EQ3kwJU
BINANCE_API_SECRET = OT318tynVmGjDxBpAJL8Z0sLL17DgRLwSk12Gve29AD24NII4YFf253n6YYLUKLs
